# Ignore everything by default
*

# Then whitelist only what we want
!.gitignore
!LICENSE
!NOTICE
!economy/
!economy/**
!trading/
!trading/**
!chief-of-staff/
!chief-of-staff/**
!demand/
!demand/**
!bin/
!bin/**
!04-Service-Code/
!04-Service-Code/**
!agent-wrapper/
!agent-wrapper/**

# But still ignore these within whitelisted dirs
node_modules/
*.log
.DS_Store
package-lock.json
